@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll::-webkit-scrollbar {
  width: 0 !important;
}

* {
  user-select: none;
}

.inventoryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 8rem));
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.scroll::-webkit-scrollbar {
  width: 0 !important;
}

.shield {
  transform: scaleX(1);
}
